/* LOCALITY */

.locality {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.locality legend {
    margin: 0 auto 10px;
}

/* USER */

.user {
    width: 100%;
    display: grid;
    grid-template-areas: "header header" "personal-data labor-data" "buttons buttons";
}

.user legend {
    grid-area: header;
    margin: 0 auto 10px;
}

.user .personal-data {
    grid-area: personal-data;
}

.user .labor-data {
    grid-area: labor-data;
}

/* CUSTOMER */

.customer {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.customer legend {
    margin: 0 auto 10px;
}

/* PROVIDER */

.provider {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.provider legend {
    margin: 0 auto 10px;
}

/* VEHICLE */

.vehicle {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.vehicle legend {
    margin: 0 auto 10px;
}

/* ALERT DELETE */

.alert {
    display: flex;
    flex-direction: column;
}

.alert div {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}

.alert button {
    margin: 10px;
    justify-self: flex-end;
}